---
---

label {
    width: 300px;
    min-width: 50%;
    max-width: 100%;
    display: block;
}

input {
    width: 50%;
    display: block;
}

.favorite-color {
    width: 200px;
    height: 200px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}