---
---

.grid {
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin: 0 20px 20px 0;
        padding: 20px;
        background-color: #aaf;
        width: 100%;

        @media (min-width: 414px) {
            width: 50%;
        }

        @media (min-width: 768px) {
            width: 33.333%;
        }

        &__delete-button {
            background-color: #f44;
            border: 2px solid #555;
            color: #555;
            font-weight: bold;
            width: 35px;
            height: 35px;
            display: block;
            margin-left: auto;
        }

    }

}