---
---

.grid {
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin: 0 20px 20px 0;
        padding: 20px;
        background-color: #aaf;
        width: calc(100% - 20px);

        @media (min-width: 414px) {
            width: calc(50% - 20px);
        }

        @media (min-width: 768px) {
            width: calc(33.333% - 20px);
        }

        &__delete-button {
            background-color: #c00;
            border: none;
            color: #fff;
            font-weight: bold;
            width: 35px;
            height: 35px;
            display: block;
            margin-left: auto;
            box-shadow: 4px 4px 3px 0 rgba(0,0,0,0.75);
        }

        h2 &__header {
            color: #fff;
            padding: 5px 5px 5px 10px;
        }

        &__bio {
            color: #ddd;
            padding: 5px 5px 5px 10px;
        }

    }

}