---
---

// Workaround for the skip link since the theme CSS doesn't seem to work with it for some reason.
#skip-to-content {
    position: absolute;
    left: -99999px;
    top: 30px;
    background-color: #fff;
    padding: 10px;

    &:focus {
        left: 30px;
    }
}